* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
main,
mark,
menu,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
rp,
rt,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video,
xmp {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%; }

html,
body {
  height: 100%; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block; }

b,
strong {
  font-weight: bold; }

img {
  color: transparent;
  font-size: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic; }

ul,
ol {
  list-style: none; }

li {
  display: list-item; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

th,
td,
caption {
  font-weight: normal;
  vertical-align: top;
  text-align: left; }

q {
  quotes: none; }

q:before,
q:after {
  content: "";
  content: none; }

sub,
sup,
small {
  font-size: 75%; }

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

svg {
  overflow: hidden; }

[v-cloak] {
  display: none !important; }

html {
  background: #FBF2C0; }

body {
  font-family: "Signika", sans-serif; }

svg * {
  fill: currentColor; }

.triangle {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 28%;
  z-index: 2; }

@media (max-width: 600px) {
  header.desktop {
    display: none; }
  header.mobile {
    color: #FBF2C0;
    position: relative;
    height: 135px; }
    header.mobile .inner {
      background: #414042;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-align: stretch;
      -ms-flex-align: stretch;
      align-items: stretch;
      margin-top: 30px; }
    header.mobile .hamburger {
      -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      -ms-flex-negative: 1;
      flex-shrink: 1;
      -ms-flex-item-align: auto;
      align-self: auto;
      font-size: 260%; }
    header.mobile .logo-holder {
      -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      -ms-flex-negative: 1;
      flex-shrink: 1;
      -ms-flex-item-align: auto;
      align-self: auto; }
    header.mobile .logo {
      height: 140px;
      position: absolute;
      top: 0;
      right: 0; } }

@media (min-width: 601px) {
  header.mobile {
    display: none; }
  header .inner {
    display: table;
    width: 100%;
    margin-top: 90px;
    background: #414042;
    margin-bottom: 60px;
    z-index: 4;
    position: relative; }
  header nav {
    display: table-row; }
  header .link, header .logo-holder {
    display: table-cell; }
  header .link {
    text-align: center;
    text-transform: uppercase;
    padding-top: 0.6em;
    padding-bottom: 0.6em; }
    header .link a {
      color: #FBF2C0;
      font-weight: 900;
      font-size: 120%; }
  header .logo-holder {
    width: 16%;
    position: relative; }
    header .logo-holder .logo {
      position: absolute;
      z-index: 7;
      left: 0;
      right: 0;
      top: -60px; } }

footer {
  background: url(../svg/footer.svg);
  z-index: 5;
  position: relative;
  background-size: cover; }
  footer .inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    padding: 12px 24px; }
  footer .locations {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch; }
  footer .location {
    padding-top: 20px; }
    footer .location .name {
      font-size: 1.6em;
      text-transform: uppercase;
      font-weight: 900;
      margin-bottom: 0.15em; }
      footer .location .name a {
        color: #00B0B3;
        text-decoration: none; }
    footer .location address, footer .location .phone {
      font-style: normal;
      margin-bottom: 0.2em; }
      footer .location address a, footer .location .phone a {
        color: #fff;
        text-decoration: none; }
    footer .location .social a {
      width: 1.25em;
      height: 1.25em;
      display: inline-block;
      margin-right: 0.7em;
      color: #C6943B; }
  footer .private-party {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -ms-flex-item-align: auto;
    align-self: auto;
    text-align: center; }
    footer .private-party img {
      max-width: 260px; }
  footer .our-friends {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -ms-flex-item-align: auto;
    align-self: auto; }
    footer .our-friends .check {
      text-align: center;
      font-size: 1.8em;
      color: #00B0B3;
      font-weight: 900; }
    footer .our-friends .both {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-align: stretch;
      -ms-flex-align: stretch;
      align-items: stretch; }
    footer .our-friends .friend {
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      -ms-flex-negative: 1;
      flex-shrink: 1;
      -ms-flex-item-align: auto;
      align-self: auto;
      text-align: center; }
    footer .our-friends img {
      max-width: 130px; }

@media (max-width: 600px) {
  footer .location {
    position: relative;
    width: 100%; }
    footer .location .social {
      width: 7em;
      position: absolute;
      top: 2em;
      right: 0;
      text-align: right; } }

@media (min-width: 601px) {
  footer .locations {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -ms-flex-item-align: auto;
    align-self: auto; }
  footer .location {
    -ms-flex-preferred-size: 33%;
    flex-basis: 33%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -ms-flex-item-align: auto;
    align-self: auto; } }

.home-header {
  position: relative; }
  .home-header .logo-holder {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -ms-flex-item-align: auto;
    align-self: auto; }
  .home-header .logo {
    z-index: 7;
    position: relative; }
  .home-header .tagline-holder {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -ms-flex-item-align: auto;
    align-self: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    justify-items: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
    position: relative;
    z-index: 6; }
    .home-header .tagline-holder span {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      -ms-flex-negative: 1;
      flex-shrink: 1;
      -ms-flex-item-align: auto;
      align-self: auto;
      color: #fff;
      font-family: "Oleo Script", cursive;
      font-size: 2.5em;
      padding-top: 0.25em;
      padding-bottom: 0.25em;
      padding-left: 0.5em; }

main.home .locations {
  position: relative;
  z-index: 3; }
  main.home .locations figure {
    background-size: cover;
    background-position: center;
    position: relative; }
    main.home .locations figure a {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0; }
  main.home .locations figcaption {
    background: #414042;
    color: #fff;
    position: relative; }
    main.home .locations figcaption .inner {
      margin-left: auto;
      margin-right: auto;
      width: 16em;
      padding-bottom: 1em; }
  main.home .locations .name {
    font-family: "Oleo Script", cursive;
    color: #fff;
    padding: 0.25em 0.5em;
    font-size: 3rem;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    text-shadow: -2px 2px 0 #414042;
    margin-top: -1em;
    margin-bottom: 0.25em;
    text-decoration: none; }
    main.home .locations .name.downtown {
      background-image: url(../svg/ellipse/downtown.svg); }
    main.home .locations .name.roseville {
      background-image: url(../svg/ellipse/roseville.svg); }
    main.home .locations .name.northeast {
      background-image: url(../svg/ellipse/northeast.svg); }
    main.home .locations .name[href]:hover {
      text-decoration: underline; }
  main.home .locations address {
    font-style: normal;
    margin-bottom: 1em; }
    main.home .locations address a {
      text-decoration: none;
      color: currentColor; }
      main.home .locations address a:hover {
        text-decoration: underline; }
  main.home .locations .phone-and-social {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch; }
    main.home .locations .phone-and-social .phone {
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      -ms-flex-negative: 1;
      flex-shrink: 1;
      -ms-flex-item-align: auto;
      align-self: auto; }
      main.home .locations .phone-and-social .phone a {
        color: #fff;
        text-decoration: none; }
        main.home .locations .phone-and-social .phone a:hover {
          text-decoration: underline; }
    main.home .locations .phone-and-social .social {
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      -ms-flex-negative: 1;
      flex-shrink: 1;
      -ms-flex-item-align: auto;
      align-self: auto; }
      main.home .locations .phone-and-social .social a {
        display: inline-block;
        width: 1.25em;
        height: 1.25em;
        margin-right: 0.5em;
        color: #C6943B; }
        main.home .locations .phone-and-social .social a:hover {
          color: #fff; }

@media (max-width: 600px) {
  html.home {
    background-image: url(../svg/backgrounds/mobile_home.svg);
    background-size: cover;
    background-position: top center; }
  .home-header {
    padding-top: 35px; }
    .home-header .tagline-holder, .home-header .tagline-stripe {
      display: none; }
  .locations figure {
    height: 50vw; } }

@media (min-width: 601px) {
  html.home {
    background-image: url(../svg/bg_desktop.svg);
    background-size: cover;
    background-position: top left;
    background-attachment: fixed; }
  .home-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch; }
    .home-header .tagline-stripe {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      background: #414042;
      height: 70px; }
  .locations {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch; }
    .locations .location {
      -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      -ms-flex-negative: 1;
      flex-shrink: 1;
      -ms-flex-item-align: auto;
      align-self: auto; }
    .locations figure {
      height: 15vw; }
  #app {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100vh; }
  main.home, header.home-header {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    -ms-flex-item-align: stretch;
    align-self: stretch; }
  footer {
    -ms-flex-negative: 0;
    flex-shrink: 0; } }

main.location .bubble-boxes .box {
  position: absolute;
  background-size: contain;
  background-position: bottom center;
  background-repeat: no-repeat; }

main.location .bubble-boxes .brown {
  background-image: url(../svg/bubblebox-brown.svg); }

main.location .bubble-boxes .tan {
  background-image: url(../svg/bubblebox-tan.svg); }

main.location .bubble-boxes .red {
  background-image: url(../svg/bubblebox-red.svg); }

main.location .hero {
  position: relative; }

main.location .details-holder .details {
  position: relative;
  z-index: 4; }

main.location .details-holder .name {
  font-family: "Oleo Script", cursive;
  color: #FBF2C0;
  font-size: 400%;
  text-shadow: -3px 3px 0 #414042; }

main.location .details-holder .hours {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  margin-bottom: 1em; }
  main.location .details-holder .hours .label {
    font-weight: 900;
    font-size: 150%; }
  main.location .details-holder .hours .info {
    padding-left: 0.5em; }

main.location .details-holder address {
  font-style: normal;
  margin-bottom: 1em; }
  main.location .details-holder address a {
    color: currentColor;
    text-decoration: none; }

main.location .details-holder .phone a {
  color: currentColor;
  text-decoration: none; }

main.location .calendar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
  margin-top: 3em; }
  main.location .calendar figure {
    height: 22vw;
    background-size: cover;
    background-position: center;
    position: relative; }
  main.location .calendar .featured-event {
    -ms-flex-preferred-size: 33%;
    flex-basis: 33%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -ms-flex-item-align: auto;
    align-self: auto; }
    main.location .calendar .featured-event figcaption {
      background: #fff;
      position: absolute;
      top: 1em;
      left: 0;
      padding: 1em; }
      main.location .calendar .featured-event figcaption .title {
        color: #00B0B3;
        font-size: 250%;
        font-weight: 900; }
  main.location .calendar .day {
    -ms-flex-preferred-size: 33%;
    flex-basis: 33%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -ms-flex-item-align: auto;
    align-self: auto; }
    main.location .calendar .day figcaption {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(255, 255, 255, 0.7);
      padding: 1em; }
      main.location .calendar .day figcaption .title {
        color: #FBF2C0;
        font-size: 3vw;
        margin-top: -1em;
        font-weight: 900;
        text-shadow: -2px 2px 0 #414042, 1px -1px 1px #414042; }
      main.location .calendar .day figcaption .items {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch; }
        main.location .calendar .day figcaption .items .item {
          -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
          -webkit-box-flex: 1;
          -ms-flex-positive: 1;
          flex-grow: 1;
          -ms-flex-negative: 1;
          flex-shrink: 1;
          -ms-flex-item-align: auto;
          align-self: auto;
          margin-bottom: 1em; }
      main.location .calendar .day figcaption .when {
        font-size: 1.25em;
        font-weight: 900; }
    main.location .calendar .day.with-link figure {
      height: 16vw; }
  main.location .calendar .see-full-calendar {
    background-image: url(../svg/forward-arrow.svg);
    display: block;
    background-size: cover;
    background-position: center right;
    height: 6vw;
    text-decoration: none;
    text-align: right; }
    main.location .calendar .see-full-calendar span {
      color: #fff;
      text-shadow: -2px 2px 0 #414042;
      font-size: 3vw;
      padding-right: 1em;
      font-weight: 900;
      line-height: 6vw; }

#app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100vh;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }

main, header {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto; }

footer {
  -ms-flex-negative: 0;
  flex-shrink: 0; }

@-webkit-keyframes bubbleBoxMove {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  33% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px); }
  66% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px); } }

@keyframes bubbleBoxMove {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  33% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px); }
  66% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px); } }

@media (max-width: 600px) {
  main.location .bubble-boxes {
    position: absolute;
    top: 0;
    right: 0;
    left: 0; }
    main.location .bubble-boxes .box {
      background-size: cover;
      z-index: -1; }
    main.location .bubble-boxes .red {
      height: 160px;
      left: -20px;
      right: -20px; }
    main.location .bubble-boxes .tan {
      height: 320px;
      left: -20px;
      right: -20px; }
  main.location .calendar {
    display: none; } }

@media (min-width: 601px) {
  main.location .bubble-boxes {
    position: absolute;
    top: 0;
    left: 0;
    height: 60vh;
    width: 38vw;
    z-index: 3; }
    main.location .bubble-boxes .box {
      height: 200%;
      width: 65%; }
    main.location .bubble-boxes .brown {
      bottom: 0;
      left: 25%;
      -webkit-animation: bubbleBoxMove 8s linear infinite;
      animation: bubbleBoxMove 8s linear infinite; }
    main.location .bubble-boxes .tan {
      bottom: 20%;
      left: -2%;
      -webkit-animation: bubbleBoxMove 5.6s linear infinite;
      animation: bubbleBoxMove 5.6s linear infinite; }
    main.location .bubble-boxes .red {
      bottom: 35%;
      right: 0;
      background-position: bottom right;
      -webkit-animation: bubbleBoxMove 4.2s linear infinite;
      animation: bubbleBoxMove 4.2s linear infinite; }
  main.location .hero {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch; }
    main.location .hero .details-holder {
      width: 33%;
      -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
      -webkit-box-flex: 0;
      -ms-flex-positive: 0;
      flex-grow: 0;
      -ms-flex-negative: 1;
      flex-shrink: 1;
      -ms-flex-item-align: auto;
      align-self: auto;
      padding-left: 80px; }
    main.location .hero .image-holder {
      -ms-flex-preferred-size: 66%;
      flex-basis: 66%;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      -ms-flex-negative: 1;
      flex-shrink: 1;
      -ms-flex-item-align: auto;
      align-self: auto; }
      main.location .hero .image-holder figure {
        height: 45vh;
        margin-top: -60px;
        z-index: 2; } }

/*# sourceMappingURL=grumpys.css.map */