header.desktop
  .inner
    nav
      .link
        a Menu
      .link
        a Contact
      .logo-holder
        a(href="/")
          img.logo(src="svg/logo_header.svg")
      .link
        a northeast
      .link
        a roseville
      .link
        a downtown

header.mobile
  .inner
    .hamburger
      | = 
    .logo-holder
      a(href="/")
        img.logo(src="svg/logo_header.svg")