header.desktop
  .inner
    nav
      .link
        a Menu
      .link
        a Contact
      .logo-holder
        a(href="/")
          img.logo(src="svg/logo_header.svg")
      each location in locations
        if location.title == pageTitle
          .link.active
            a.active(href=location.url)= location.title
        else
          .link
            a(href=location.url)= location.title

header.mobile
  .inner
    .hamburger
      | = 
    .logo-holder
      a(href="/")
        img.logo(src="svg/logo_header.svg")