if pageTitle != "Northeast"
  a(name="food")
  section.menu.full-menu
  h2 Food
  .inner
    .page.food
      .menu-section 

        //- Apps
        .section-title Appetizers
        +menuItem("Grumpy's Drummies", 10.99)
          | Wing flavors are available in: Buffalo: Mild, Medium or Hot, Honey Sriracha, Thai Peanut, BBQ, Surly Furious BBQ or Teriyaki 
        +menuItem("Pork and Kimchi Fries", 9.99)
        +menuItem("Quesadillas", 9.99)
        +menuItem("Potato Skins", 9.99)
        +menuItem("Queso Rolls", 9.99)
        +menuItem("Beer Battered Onion Rings", 9.99)
        +menuItem("Tots", 4.99)
        +menuItem("Nachos El Grumpy", 10.99)
        +menuItem("Cream Cheese Rolls", 9.99)
        +menuItem("Chicken Fingers", 9.99)
        +menuItem("Poutine", 9.99)
        +menuItem("Mini Corndogs", 8.99)
        +menuItem("Cheese Curds", 8.99)
        +menuItem("Mac & Cheese Bies", 8.99)
      
      //- Salads
      .menu-section
        .section-title Salads
        +menuItem("Taco Salad", 10.99)
        +menuItem("Garlicky BLT Salad", 10.99)
          | Deconstructed  to  garlicky  goodness.  Romaine  lightly dressed in a creamy parmesan and garlic dressing, covered in chopped bacon and cherry tomatoes.
        +menuItem("Thai Peanut Salad", 8.99)
          | Mixed  greens  drizzled  with  a  Thai  Peanut  dressing, topped with peapods and peanuts.
        +menuItem("Caesar A La Grumpy", 8.99)
        +menuItem("Seasonal Greens", 7.99)
        +menuItem("Soup & Salad", 6.99)
          | Grumpys side dinner salad and a cup of the Soup ‘O The Day help keep Mr. Spare Tire away. Served with Texas Toast
      
      //- Soups
      .menu-section
        .section-title Soups
        .section-text
          b Cup: 
          |  $4.99,  
          b Bowl: 
          |  $5.99
        +menuItem("Grumpys Mac 'N Cheese")
          | Ya take yer Mac ’N Cheese, add some brats to counter the  carbs  and  you’ll  keep  warm  all  night.  Served  with  texas toast. Mmmmmm!
        +menuItem("Grumpy's Soup")
          | They’re  different  every  day,  always  made  from  scratch and will have you upending your bowl for every last drop. Served with texas toast
        +menuItem("Beer Cheese Soup")
        +menuItem("Mom's Homemade Chili")
        +menuItem("Vegan Chili")
        +menuItem("Soup & ½ Sandwich",8.99)

      //- Sandwiches
      .menu-section
        .section-title Sandwiches
        +menuItem("Grilld Cheese", 7.99)
          | Make it a ham & cheese for $2 more
        +menuItem("Hot Pastrami", 9.99)
        +menuItem("Grilled Reuben", 10.99)
        +menuItem("BBQ Chicken Sandwich", 9.99)
        +menuItem("Cajun Chicken Sandwich", 9.99)
        +menuItem("Buffalo Wing Chicken Sandwich", 10.99)
        +menuItem("BLT", 8.99)
        +menuItem("Hammerhead Hoagie", 8.99)
          | Provolone and mayo on top of tender and slow roasted rib meat tossed in our famous Surly Furious BBQ sauce
        +menuItem("The Cuban", 9.99)
        +menuItem("Kim Chi Mock Duck Banh Mi", 8.99)
        +menuItem("Veggie Sandwich",8.99)
        +menuItem("Pork Cake Sliders", 10.99)
          | Who needs crab when you can have our delicious pulled pork? Fried with an array of spices, topped with melted provlone and mayo.
        +menuItem("Hot Beef 'N Cheddar", 10.99)
        +menuItem("Southwestern Turkey", 10.99)
        .section-text
          | Served with a pickle spear and potato chips
          br
          | Substitute fries, tater tots, or veggies for $1.99
          br
          | Or onion rings for $2.45
          br
          | Add a side of seasoned sour cream for $1.25

      //- Hot Dogs
      .menu-section
        .section-title Specialty Hot Dogs
        +menuItem("Seattle Dogs", 9.99)
          | Two all beef franks slathered in our bacon, green onion and cream cheese mix
        +menuItem("Coney Dogs St. Paul Style")
          | THIS AIN’T NO CHILI DOG! Grilled buns, Nathans dogs, shredded cheddar jack, a dash of mustard and onions on the side
        +menuItem("The Southside", 9.99)

      //- Burgers
      .menu-section
        .section-title Big Burgers
        +menuItem("Garlic Cheesy Burger", 10.99)
        +menuItem("Lil' Grumpy Burgers or Chicken Sliders", 7.99)
        +menuItem("Big Assed Breakfast Burger", 10.99)
        +menuItem("Spud Burger", 10.99)
        +menuItem("Veggie Burger", 8.99)
        +menuItem("Mac 'N Chili Burger", 10.99)
        +menuItem("Grumpy's Garlic Bomb Burger", 10.99)
        +menuItem("Slow Burn Burger", 11.99)
        +menuItem("The Burgermeister", 11.99)
        +menuItem("Juicy Lucy", 10.99)
        +menuItem("Cream Cheese Burger", 10.99)
        +menuItem("The Elvis", 10.99)
        +menuItem("Paddy Melt", 10.99)
        +menuItem("Build Your Onw Fuckin' Burger", 10.99)

a(name="booze")
section.menu.full-menu
  h2 Booze
  .inner
    .page.booze

      //- Whiskey
      .menu-section
        .section-title Whiskey
        +booze("Bulliet Rye")
        +booze("Crown Royal")
        +booze("High West")
          li 2x Rye
          li Campfire
          li White Whiskey
        +booze("Jack Daniels")
        +booze("Jameson")
          li Black Barrel
          li Cask Mates
        +booze("Jim Beam Rye")
        +booze("Knob Creek")
        +booze("Powers")
        +booze("Seagrams 7")
        +booze("Windsor")

      //- Bourbon
      .menu-section
        .section-title Bourbon
        +booze("Bookers")
        +booze("Bulleit Bourbon")
        +booze("Knob Creek")
        +booze("Jim Beam")
        +booze("Wild Turkey")

      //- Scotch
      .menu-section
        .section-title Scotch
        +booze("Aberlour 12")
        +booze("Dewars")
        +booze("Glenfarclas")
        +booze("Glenlivet")
          li Nadurra
          li Oloroso
        +booze("Laphroiag")
        +booze("MacCallan 12")

      //- Vodka
      .menu-section
        .section-title Vodka
        +booze("Absolut")
          li Citron
          li Peppar
        +booze("Grey Goose")
        +booze("High West")
        +booze("J. Carver")
          li Lake House
        +booze("Ketel One")
        +booze("Stoli")
          li Blueberry
          li Orange
          li Raspberry
          li Vanilla
        +booze("Titos")
        +booze("Van Gogh")
          li Espresso
      
      //- Gin
      .menu-section
        .section-title Gin
        +booze("Bombay Sapphire")
        +booze("Hendricks")
        +booze("J. Carver")
          li Grimm Farm
          li Barrel Aged
        +booze("Tanqueray")
      
      //- Aquavit
      .menu-section
        .section-title Aquavit
        +booze("Gamle Ode Aquavit")
          li Celebration
          li Dill

      //- Rum
      .menu-section
        .section-title Rum
        +booze("Bacardi")
          li Limon
        +booze("Captain Morgan")
        +booze("Meyers Dark")
        +booze("Sailor Jerry")

      //- Tequila
      .menu-section
        .section-title Tequila
        +booze("Altos Silver")
          li Respasado
        +booze("Avion Silver")
        +booze("Cazadores Blanco")
          li Resposado
        +booze("Casamigos Blanco")
          li Resposado
          li Anejo
        +booze("Patron")
          li Citronge
          li XO Campfire
        +booze("Sauza Gold")

      //- Liqueurs
      .menu-section
        .section-title Liqueurs
        +booze("Brady's Irish Cream")
        +booze("Campari")
        +booze("Cruzan Coconut")
        +booze("Fernet Branca")
        +booze("Khalua")
        +booze("Midori")
        +booze("Pimms")
        +booze("Polish Brandy")
        +booze("RumChata")
        +booze("Rumpleminze")
        +booze("Sambuca")
          li Black
        +booze("Sloe Gin")
        +booze("Southern Comfort")