/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* General */
* {
    box-sizing:border-box;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
}

h1,
h2,
h3,
p,
a:visited {
    color:#484c49;
}


h2 {
    font-family: "badaboom-pro",sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size:1.1em;
    letter-spacing: 0.07em;
}

h3 {
    font-family: "museo-slab",serif;
    font-style: normal;
    font-weight: 700;
    font-size:0.9em;
}

p {
    font-family: "museo-slab",serif;
    font-style: normal;
    font-weight: 300;
    font-size: 0.9em;
}

a,
a:visited {
    text-decoration:none;
}

a:hover {
    color:#00b0b3;
}

html,
body {
   margin:0;
   padding:0;
   height:100%;
}

html {
    background-color:#ddd6c5;
    background-image:url('../img/background.jpg');
}

/* End General */

#container {
   width:925px;
   margin:auto;
   background-color: rgb(236,234,222);
   background-color: rgba(236,234,222,.8);
   box-shadow: 2px 0 15px -4px rgba(0, 0, 0, 0.4),
               -2px 0 8px -4px rgba(0, 0, 0, 0.4);
}
header {
    background-image:url("../img/header-background.png");
    background-repeat:no-repeat;
    height:145px;
    width:100%;
    margin-bottom:20px;
    padding:10px 10px 10px 50px;
}

#body {
   padding:0;
   background-image:url('../img/footer-border.png');
   background-repeat:no-repeat;
   background-position:bottom;
}

/*** Header ***/

ul.social {
    display:inline-block;
    float:right;
    margin:10px 10px 0 0;
    padding:0;
	width:200px;
	text-align:right;
}

.social li {
    margin-left:14px;
    list-style:none;
    display:inline-block;
}

.social a:hover {
    opacity:0.5;
}


/*** Navigation ***/

nav {
    display:inline-block;
    margin-top:-50px;
    float:right;
}

nav ul {
    list-style: none;
    color: #EEEADF;
    font-family: "badaboom-pro",sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 1.2em;
    letter-spacing: 0.1em;
    margin:0;
}

nav li {
    display:inline-block;
}

nav a {
    padding:4px 6px;
}

nav a, nav a:visited {
    color:#EEEADF;
}

nav a.on, nav a:hover {
    color:#00b0b3;
}

/* End Navigation */

/*** Footer ***/
footer {
   width:100%;
   background-color:#484c49;
   color:#eeeadf;
   padding:20px;
}

footer a,
footer a:visited {
    color:#eeeadf;
    text-decoration: none;
}

footer a:hover {
    color:#00b0b3;
}

.footer-map {
    display:inline-block;
    text-align: center;
}

.footer-logo {
    display:block;
    margin:auto;
}

.map {
    font-family:monospace;
    color:#eeeadf;
    font-weight:200;
    font-size:.8em;
    text-transform:uppercase;
    font-style:normal;
    display:inline-block;
    border-right:#eeeadf 1px solid;
    padding:0 10px;
}

.partners {
    display:inline-block;
    float:right;
}

.pals {
    padding:0 24px;
    display:inline-block;
    border-right:dashed #eeeadf 1px;
    margin-top: 10px;
}

.pals:last-child {
    border-right:none;
}               

.copyright {
    width:100%;
    font-size:.7em;
    text-align: center;
    letter-spacing:.1em;
    margin-top:20px;
}

p:last-child {
    border-right:none;
}

/* End Footer */

/*** Content ***/

.content-row {
    width:100%;
    float:left;
    margin-bottom: 30px;
}

.feeds,
.happy,
.events {
    float:left;
}


.feeds {
    width:243px;
    margin-right:22px;
}

.feeds h2 {
    margin-bottom:0;
}

.feeds h2 a {
    color:#484c49;
}

.feeds h2 a:hover {
    color:#00b0b3;
}

.feeds h3 {
    margin-top:0;
}

.happy {
    width:250px;
    margin-right:2px;
}

.events {
    width:348px;
    margin:0;
    border-right:none;
}

.happy p,
.events p {
    margin:0;
}

.day {
    margin-top:10px;
}

.feeds h1 {
    margin:0;
}

p.intro {
    font-size:1.0em;
    margin-bottom:0;
}

.calendar {
    margin-bottom:10px;
}

.copy {
    padding:0 13px;
    margin-top:8px;
    border-right:1px solid #d3c8ab;
}

/* End Content */


/*** Images ***/

.title-bar {
    box-shadow: 2px 0 15px -4px rgba(0, 0, 0, 0.4),
               -2px 0 6px -4px rgba(0, 0, 0, 0.5);              
}

/* End Images */




.logo {
    display:inline-block;
    margin-top:5px;
}


.alpha {
    margin-left:20px;
}

.omega {
    margin-right:0;
    margin-bottom:0;
    border-right:none;
}

/*Google Form*/

.ss-q-title {
    font-size:0.85em;
}






 /* Float Clearfix
 ================================ */

.group:after {
   content: " ";
   display: table;
   clear: both;
    }









/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
