[v-cloak] { display: none !important; }

html { background: $yellow; }
body { font-family:$font; }
svg {
  * { fill:currentColor; }
}

@media (max-width:$mobile-max) {
  .triangle { display: none; }
}
@media (min-width:$desktop-min) {
  .triangle { @include position(fixed,null,null,0,0); width: 28%; z-index: $z-triangle; }
}

