.tap-list { padding-left: 40px; padding-right: 40px;
  .headline { padding-left:0.5em; font-family:$headline; font-size:5vw; font-weight:$bold; color:$red; text-shadow: -0.03em 0.03em 0 $white, -0.06em 0.06em 0 $black; }

  .taps { display: grid; grid-gap: 20px;
    @media (min-width:1651px)                         { grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; }
    @media (min-width:1361px) and (max-width:1650px)  { grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; }
    @media (min-width:1161px) and (max-width:1360px)  { grid-template-columns: 1fr 1fr 1fr 1fr 1fr; }
    @media (min-width:931px)  and (max-width:1160px)  { grid-template-columns: 1fr 1fr 1fr 1fr; }
    @media (min-width:631px)  and (max-width:930px)   { grid-template-columns: 1fr 1fr 1fr; }
    @media (min-width:431px)  and (max-width:630px)   { grid-template-columns: 1fr 1fr; }
    @media (max-width:430px)                          { grid-template-columns: 1fr; grid-gap:0; }
  }
  .tap { margin-bottom: 1em;
    
    &:before { content: " "; display:block; height:42px; background-color:transparent; background-size:cover; background-position: top center; background-repeat: no-repeat; }
    &:after { content: " "; display:block; height:42px; background-size:cover; background-position: bottom center; background-repeat: no-repeat; }

    &:nth-child(odd) { 
      &:before { background-image:url('../svg/pl_odd.svg');  }
      &:after { background-image:url('../svg/pl_odd.svg'); }
    }
    &:nth-child(even) { 
      &:before { background-image:url('../svg/pl_even.svg');  }
      &:after { background-image:url('../svg/pl_even.svg'); }
    }

    .content { background-color:$orange; padding:0 1.25em; min-height: 80px; }


    .name { font-weight:$bold; }
  }


  .untappd-link { cursor: pointer;
    
    &:before { content: " "; display:block; height:45px; background-color:transparent; background-size:cover; background-position: top center; background-repeat: no-repeat; }
    &:after { content: " "; display:block; height:45px; background-size:cover; background-position: bottom center; background-repeat: no-repeat; }

    &:nth-child(odd) { 
      &:before { background-image:url('../svg/untappd_odd.svg');  }
      &:after { background-image:url('../svg/untappd_odd.svg'); }
    }
    &:nth-child(even) { 
      &:before { background-image:url('../svg/pl_even.svg');  }
      &:after { background-image:url('../svg/pl_even.svg'); }
    }

    .content { background:#FECE0C; text-align: center; @include flex-center(); min-height: 80px;
      img { max-width:100%; max-height: 80px; }
    }

    &:hover { 
      .content img { transform:scale(1.2); }
    }
  }
}

