$mobile-max: 600px;
$desktop-min: 601px; 
//$font: 'Fontdiner Swanky', cursive;

// FONTS
$font: 'Signika', sans-serif;
$headline: 'Oleo Script', cursive;
$fontSize: 18px;
$lineHeight:160%;
$bold: 900;

// COLORS
$black: #414042;
$white: #fff;
$teal: #00B0B3;
$orange: #C6943B;