- var pageTitle = "Home"
- var description = ""

doctype html
html.home(lang="en")
  head
    include partials/_mixins.pug
    include partials/_head.pug
  body

    img.triangle(src="svg/triangle.svg")

    #app

      .home-header
        .tagline-stripe
        .logo-holder
          img.logo(src="svg/logo_header.svg")
        .tagline-holder
          span Twin Cities Best In Food and Booze Fer Years!

      main.home
        nav.locations

          +location(locations.downtown, 'downtown.jpg')
            //-+address('downtown')

          +location(locations.roseville, 'roseville.jpg')

          +location(locations.northeast, 'nordeast.jpg')

      include partials/_footer.pug


    include partials/_javascripts.pug
    //-include partials/_schema.pug