- const pageTitle = "Roseville"
- var description = ""

doctype html
html(lang="en")
  head
    include partials/_mixins.pug
    include partials/_head.pug
  body

    #app

      include partials/_header.pug

      main.location.northeast

        .bubble-boxes
          .box.brown
          .box.tan
          .box.red

        .hero
          .details-holder
            .details  
              .name= pageTitle
              .hours
                .label
                  span HOURS:
                .info !{locations.roseville.hours}
              +address(locations.roseville)
              +phone(locations.roseville)
              a.find-us(href=locations.roseville.map)
                span Find us
          .image-holder
            figure(style="background-image:url(https://picsum.photos/1230/500?random)")

        section.calendar
          +day('Today')
            .item
              .when 11am to 3pm
              .name Breakfast Menu
              .desc $4 BYO Bloody Mary bar
            .item
              .when 7pm to 10pm
              .name Summit Saturday
              .desc $3 Summit taps (exceptions apply) 
            .item
              .when 10pm to close
              .name Karaoke
          
          +day("Tomorrow")
            .item
              .when 11am to 3pm
              .name Breakfast Menu
              .desc $4 BYO Bloody Mary bar
            .item
              .when 7pm to 10pm 
              .desc Half-priced appetizers, $4 tap beer (exceptions apply)
            .item
              .when 9pm
              .name Rock 'n Roll Bingo
              .desc Progressive Pot (free to play)

          +day("Monday")
            .item
              .when 7pm to 10pm
              .name $6.99 BYO Burgers
            .item
              .when 7pm to 10pm
              .name Minnesota Mondays
              .desc Any Minnesota beer for $3 (exceptions apply), $1 off Minnesota food
          
          +day("Tuesday")
            .item
              .when 7pm to 10pm
              .name Tallboy Tuesdays
              .desc $2.00 tallboys (PBR, Hamms, Lone Star, Rolling Rock & Coors) 1/2 priced wings 
            .item
              .when 10pm to close
              .name Karaoke
          
          +day("Wednesday")
            .item
              .when 9pm
              .name Trivia
              .desc $25 gift certificate for first place, plus other prizes

          +day("Thursday")
            .item
              .when 7pm to 10pm
              .name Tex Mex Thursday
              .desc $3 off: nachos, tex-mex rolls, quesadilla gordo; $1 off: Corona Corona Light, Pacifico & Dos Equis 
            .item
              .when 10pm
              .name Bar Bingo
              .desc Progressive pot (free to play)
          
          +day("Friday")
            .item
              .when 4pm
              .name all you can eat fish fry
            .item
              .when 7pm to 10pm
              .name Furious Friday
              .desc $3 Surly Furious on tap 
            .item
              .when 9pm
              .name Beanbag Tourney

        .tap-list
          .headline Beers on tap...

          .taps
            +tap("Emily's Dream #30 Blood Orange Sour", "LTD Brewing", "Sour Ale")
            +tap("Fuzzi Lil Pucker", "56 Brewing", "Sour Ale")
            +tap("Short Pants", "Bauhaus Brew Labs", "Radler")
            +tap("Dakota Soul", "Summit", "Pilsner")
            +tap("B-Side Pils", "Indeed", "Pilsner")
            +tap("Pils", "Fair State", "Pilsner")
            +tap("Hamm's", "Miller", "Lager")
            +tap("Pils", "Lagunitas", "Pilsner")
            +tap("Coors Light", "Coors", "Lager")
            +tap("Summer Crush", "Castle Danger", "Pale Ale")
            +tap("WacTown Wheat", "Waconia Brewing Co", "Pale Wheat")
            +tap("Oberon", "Bell's", "Pale Wheat")
            +tap("Xtra Citra", "Surly", "Pale Ale")
            +tap("Tea Break Blonde", "Bent Paddle", "Blonde Ale")
            +tap("EPA", "Summit", "Pale Ale")
            +tap("Mango Blonde", "Lift Bridge", "Blonde")
            +tap("Lonely Blonde", "Fulton", "Blonde")
            +tap("Fathom", "Ballast Point", "IPA")
            +tap("300", "Fulton", "IPA")
            +tap("Two Hearted", "Bell's", "IPA")
            +tap("Furious", "Surly", "IPA")
            +tap("Nitro Oatmeal Stout", "Founders")
            +tap("Outcider", "2 Towns Ciderhouse", "Cider")
            +tap("Paulaner Hefewizen", "Paulaner", "Hefeweisen")

            a.untappd-link(href="https://untappd.com/v/grumpys-bar-grill/35755")
              .content
                img(src="img/untappd-logo.png")

        include partials/_menu.pug

        section.menu-stripe
          .diamonds
            .orange
            .teal


              


      include partials/_footer.pug


    include partials/_javascripts.pug
    //-include partials/_schema.pug